<div class="container mt-4 mb-4" style="min-height: 700px;">
  <div class="row justify-content-center">
    <div class="card" style="max-width: 600px;">
      <div class="row g-0">
        <div class="card-body">
          <h3 class="card-title text-center border-bottom  pb-4">{{today}}</h3>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">7:00 am </h4>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">8:00 am </h4>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">9:00 am </h4>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">10:00 am </h4>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">11:00 am </h4>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">
          <hr class="text-danger">
        </div>
      </div>

      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">1:00 pm </h4>
        </div>
      </div>

      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">2:00 pm </h4>
        </div>
      </div>

      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">3:00 pm </h4>
        </div>
      </div>

      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">4:00 pm </h4>
        </div>
      </div>

      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">5:00 pm </h4>
        </div>
      </div>

      <div class="row g-0">
        <div class="card-body">
          <h4 class="card-title text-start border-bottom  pb-4">6:00 pm </h4>
        </div>
      </div>

    </div>
  </div>
</div>



